/* MENU / NAVIGATION */
.menu-container {
    background-color: #0096FF;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.menu {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.tanggal {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.links {
    display: flex;
    gap: 25px;
    font-size: 18px;
}

.links a {
    color: white;
    text-decoration: none;
}

/* HEADER */
.header-container {
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 50px;
    align-items: center;
}

.header {
    max-width: 400px;
}

.header h1 {
    margin: 0;
}

.header-container img {
    width: 350px;
    border-radius: 20px;
}

/* PHOTO GRID */
.photo-grid-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.photo-grid {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.photo-grid img {
    width: 300px;
    border-radius: 15px;
}

/* FOOTER */
.footer {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 50px 0;
    margin-top: 50px;
}

.footer-one, .footer-two {
    max-width: 300px;
}

.footer h3 {
    margin-top: 0;
}

/* FINAL TOUCHES */
.tanggal, .links a {
    border: none;
}

.header p {
    font-size: 18px;
}

.footer p {
    font-size: 15px;
}
